<div class="container">
    <div class="row mt-4">
        <div class="col text-center">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Envie o seu portifólio</h5>
                </div>
                <div class="card-body">
                    <form><label id="user_group_label" for="user_group_logo"><i class="fas fa-upload"></i>Escolha o arquivo...</label>
                        <div class="form-row">
                            <div class="col mt-4"><button class="btn btn-primary" type="button">Button</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>