
<app-funcionario-header></app-funcionario-header>
<!--
    <app-funcionario-sidebar></app-funcionario-sidebar>
-->
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">Gestão</h4>
                    <ul class="list-unstyled">
                        <li routerLink="./gestao/atendimento">Atendimento</li>
                        <li routerLink="./gestao/clientes">Clientes</li>
                        <li routerLink="./gestao/relatorios">Relatorios</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">Atividades</h4>
                    <ul class="list-unstyled">
                        <li routerLink="./atividades/calendario">Calendário</li>
                        <li routerLink="./atividades/servicos">Serviços</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">Portifólio</h4>
                    <ul class="list-unstyled">
                        <li routerLink="./portifolio/catalogo">Produtos</li>
                        <li routerLink="./portifolio/pedidos">Catálogo<br /></li>
                        <li routerLink="./portifolio/relatorios">Seus pedidos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>