
    <form>
        <div class="form-row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend"></div>
                    <input type="search" class="form-control" name="word"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="submit" type="button">Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="form-row" *ngIf="!newPortifolio">
        <div class="col text-right mt-2 mb-2">
            <button class="btn btn-primary" type="button" (click)="createPortifolio()">
                <i class="fa fa-plus"></i> Adicionar
            </button>
        </div>
    </div>
    <div class="form-row mt-4" *ngIf="newPortifolio">
        <div class="col"><input placeholder="Nome" type="text" class="form-control" [(ngModel)]="newPortifolio.nome" name="nome" /></div>
        <div class="col"><input placeholder="Arquivo" type="text" class="form-control" [(ngModel)]="newPortifolio.arquivo" name="arquivo" /></div>
        <div class="col"><button class="btn btn-primary" id="submit" type="button" (click)="insertPortifolio()">Salvar</button></div>
    </div>
    <div class="form-row" *ngIf="newPortifolio">
        <div class="col text-right mt-2 mb-2">
            <button class="btn btn-primary" type="button" (click)="newPortifolio = null">
                <i class="fa fa-remove"></i> Cancelar
            </button>
        </div>
    </div>
    <div class="form-row mt-4">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Arquivo<br /></th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="portifolios && portifolios.length">
                        <tr *ngFor="let portifolio of portifolios">
                            <ng-template [ngIf]="selectedToEdit != portifolio.id">
                                <td>{{ portifolio.nome }}</td>
                                <td>{{ portifolio.categoria }}</td>
                            </ng-template>
                            <ng-template [ngIf]="selectedToEdit == portifolios.id">
                                <td><input type="text" class="form-control" [(ngModel)]="portifolios.nome" name="nome" /></td>
                                <td><input type="text" class="form-control" [(ngModel)]="portifolios.arquivo" name="arquivo" /></td>
                            </ng-template>

                            <td class="text-center" *ngIf="selectedToEdit != portigolio.id">
                                <div role="group" class="btn-group">
                                    <button class="btn btn-primary" type="button" (click)="selectedToEdit = portigolio.id">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-primary" type="button" (click)="deletePortigolio(portigolio)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="text-center" *ngIf="selectedToEdit == portigolio.id" >
                                <div role="group" class="btn-group">
                                    <button class="btn btn-primary" type="button" (click)="updatePortigolio(portigolio)">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button class="btn btn-primary" type="button" (click)="selectedToEdit = 0">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
