<app-header></app-header>

<div class="container mt-3">
    <div class="intro">
        <form>
            <div class="form-row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">Produtos</span></div><input type="search" class="form-control" />
                        <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row photos">
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="desk.jpg"><img class="img-fluid" src="desk.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="building.jpg"><img class="img-fluid" src="building.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="loft.jpg"><img class="img-fluid" src="loft.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="building.jpg"><img class="img-fluid" src="building.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="loft.jpg"><img class="img-fluid" src="loft.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="desk.jpg"><img class="img-fluid" src="desk.jpg" /></a></div>
    </div>
</div>