<app-funcionario-header></app-funcionario-header>

<div class="container">
    <div class="row mt-4 mb-2">
        <div class="col">
            <form>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Nome</span></div><input type="text" class="form-control" />
                    <div class="input-group-append"><button class="btn btn-primary" type="button">Pesquisar</button></div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card"><img class="card-img w-100 d-block" src="../../../../assets/img/people/bianca.jpg"  style="width: 380px;height: 230px;"/>
                <div class="card-img-overlay" style="background-color: rgba(255,255,255,0);">
                    <h4 class="shadow-sm bg-light-shadow" style="/*background-color: #000;*/">Title</h4>
                    <p class="text-light bg-light-shadow">Paragraph</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card"><img class="card-img w-100 d-block" src="../../../../assets/img/people/christopher.jpg"  style="width: 380px;height: 230px;"/>
                <div class="card-img-overlay" style="background-color: rgba(255,255,255,0);">
                    <h4 class="shadow-sm bg-light-shadow" style="/*background-color: #000;*/">Title</h4>
                    <p class="text-light bg-light-shadow">Paragraph</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card"><img class="card-img w-100 d-block" src="../../../../assets/img/people/sergio.jpg"  style="width: 380px;height: 230px;"/>
                <div class="card-img-overlay" style="background-color: rgba(255,255,255,0);">
                    <h4 class="shadow-sm bg-light-shadow" style="/*background-color: #000;*/">Title</h4>
                    <p class="text-light bg-light-shadow">Paragraph</p>
                </div>
            </div>
        </div>
    </div>
</div>