

<app-header></app-header>
<div class="container-fluid mt-4">
    <div class="row">
        <app-gerente-sidebar (menuChange)="menuChanged($event)" class="col-2 sidebar" id="sidebar"></app-gerente-sidebar>
        <app-produto class="col-8 mt-4" *ngIf="menu.produtos == menuSelected"></app-produto>
        <app-aluguel class="col-8 mt-4" *ngIf="menu.alugueis == menuSelected"></app-aluguel>
        <app-cliente-crud class="col-8 mt-4" *ngIf="menu.clientes == menuSelected"></app-cliente-crud>
        <app-estoque class="col-8 mt-4" *ngIf="menu.estoque == menuSelected"></app-estoque>
        <app-funcionario class="col-8 mt-4" *ngIf="menu.funcionarios == menuSelected"></app-funcionario>
        <!--<app-ponto class="col-8 mt-4" *ngIf="menu.ponto == menuSelected"></app-ponto>-->
        <app-portifolio class="col-8 mt-4" *ngIf="menu.portifolio == menuSelected"></app-portifolio>
        <app-servico class="col-8 mt-4" *ngIf="menu.servicos == menuSelected"></app-servico>
        <app-venda class="col-8 mt-4" *ngIf="menu.vendas == menuSelected"></app-venda>
        <div class="col-2"></div>
    </div>
</div>
