<div
    class="pt-5"
    style="background-image: url(&quot;assets/img/sebastian-unrau-v4e3JI7DDHI-unsplash.jpg&quot;);background-position: center;background-size: cover;width: 100%;height: 100%;">
    <div class="container-fluid" style="width: 100%;height: 100%;">
        <div class="row register-form">
            <div class="col-md-8 offset-md-2">
                <form class="custom-form" style="background-color: #f0f0f0;" (ngSubmit)="onSubmit()">
                    <h1>Cadastre-se</h1>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Nome</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" name="name" [(ngModel)]="user.name"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Endereço</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" name="endereco" [(ngModel)]="user.endereco"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="email-input-field">E-mail</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="email" name="email" [(ngModel)]="user.email"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="pawssword-input-field">Senha</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="password" name="password" [(ngModel)]="user.password"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Telefone</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="number" name="tel" [(ngModel)]="user.tel"/>
                        </div>
                    </div>
                    <!-- Image -->
                    <!-- <div class="form-row" style="width: 30%;margin: auto;">  
                        <mat-card class="col">
                            <mat-card-actions *ngIf="!imageOk">  
                                <button mat-button color="warn" type="button" (click)="fileUploadClick()">  
                                    <mat-icon>file_upload</mat-icon>  
                                    Foto do seu perfil  
                                </button>  
                            </mat-card-actions>  
                            <mat-card-actions *ngIf="imageOk">  
                                Imagem salva
                            </mat-card-actions>  
                        </mat-card>
                        <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
                    </div> -->
                    <button class="btn btn-light submit-button bg-primary" type="submit">Cadastrar!</button>
                    <br>
                    <a routerLink="/login">Entrar</a>
                </form>
            </div>
        </div>
    </div>
</div>
